<p>courses works!</p>

This is a bit of a follow along of

<a href="https://angular-university.io/course/angular-material-course">https://angular-university.io/course/angular-material-course</a>

along with pieces from other shiny things.  For example:

<a href="https://stackblitz.com/edit/angular-custom-pagination-mat-table?file=src%2Fmain.ts">This example of inline editing in the Angular Material Data table</a>

<h1>CSS is fun & hard to learn</h1>
<a href="https://stackoverflow.com/questions/67140158/how-to-change-the-background-colour-of-a-table-column-in-html-and-css">https://stackoverflow.com/questions/67140158/how-to-change-the-background-colour-of-a-table-column-in-html-and-css</a>
