.id-cell {
  width: 50px;
  background-color: red;
}
.id-header {
 width: 50px;
  background-color: blue;
}
// https://stackoverflow.com/questions/67140158/how-to-change-the-background-colour-of-a-table-column-in-html-and-css
td:nth-child(1) {
  // this still doesn't work :-(
  background-color: red;
}

