<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>
    <!--
    -->
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
      <a mat-list-item>Register</a>
      <a mat-list-item>Login</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>

